<div class="flex min-h-screen items-center justify-center bg-zinc-50">
  <h1 class="text-8xl font-bold text-zinc-900">Based Solutionss</h1>
  check the temp dudes:
  <%= live_render(@conn, BasedLandingWeb.ThermostatLive) %>
  <%!-- <%= live_render @socket, BasedLandingWeb.ThermostatLive %> --%>
  <%!-- <.live_component module={BasedLandingWeb.ThermostatLive} id={1} /> --%>
  <%!-- <.live_component module={BasedLandingWeb.ThermostatLive} id={user.id} user={user} /> --%>
</div>

